@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;600&display=swap");

/* CSS files add styling rules to your content */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
div.hero {
  background-image: url(https://cdn.glitch.com/d0552930-91d0-43e4-a4d0-1ca05ad74053%2Ff948dda8-5d67-40f7-847e-bf702bde5f72.image.png?v=1597720439016);
  background-size: cover;
}
body {
}
p {
}
h1 {
}
h1 {
}
header li {
}

footer {
  text-align: center;
}
.welcome {
  hieght: 50vh;
  min-height: 300px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
