@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;600&display=swap");

/* CSS files add styling rules to your content */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

body {
  
background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
p {
  
}
h1{
  
  
}
h1{
  
}

div.hero {
 
}

}
header li {
 
}
}
footer {
  text-align: center;
  
}
.welcome{
  hieght: 50vh;
  min-height: 300px;
    
  
}
