@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;600&display=swap");

/* CSS files add styling rules to your content */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
div.hero {
  background-image: url(https://cdn.glitch.com/d0552930-91d0-43e4-a4d0-1ca05ad74053%2Ff948dda8-5d67-40f7-847e-bf702bde5f72.image.png?v=1597720439016);
    background-size: cover;
  
  
}
body {
  

}
p {
  
}
h1{
  
  
}
h1{
  
}
}
header li {
 
}
}
footer {
  text-align: center;
  
}
.welcome{
  hieght: 50vh;
  min-height: 300px;
    
  
}
